---
---
<footer id="contact">
  <div class="wrap">
    <div class="foot reveal">
      <div>
        <h4>DM Me</h4>
        <a href="mailto:benltorres60@gmail.com" class="mail">benltorres60@gmail.com</a>
      </div>
      <div class="socials">
        <a href="https://www.linkedin.com/in/benltorres/" target="_blank" rel="noopener">LinkedIn</a>
        <a href="https://spaceweaselspb.com" target="_blank" rel="noopener">Space Weasels</a>
      </div>
    </div>
    <div class="colophon">Cultural Vagabond</div>
  </div>
</footer>
